<%= render "shared/navbar" %>

<div style="background-color: var(--gray);" class="pb-10 mb-2">
  <div class="max-w-screen-2xl mx-auto px-4 pt-0.5">
    <h3 class="my-4 font-header text-xl text-black text-opacity-90 font-bold">Credentials</h3>
    <div style="height: 0.0625rem;" class="bg-gray-300 mb-4"></div>

    <ul class="text-md text-black text-opacity-75 font-medium">
      <li class="flex items-baseline mb-1">
        <div style="color: var(--light-blue);" class=" w-36">API Key: </div>
        <div class="text-black text-opacity-100"><%= @user.authentication_token %></div>
        <div data-controller="clipboard" data-clipboard-copy="<%= @user.authentication_token %>">
          <div
            style="color: var(--light-blue)"
            class="ml-2 text-xs underline opacity-80 cursor-pointer"
            data-action="click->clipboard#copy"
            data-clipboard-target="button"
          >copy to clipboard</div>
        </div>
      </li>
      <li class="flex items-baseline mb-1">
        <div style="color: var(--light-blue);" class=" w-36">Email: </div>
        <div><%= @user.email %></div>
      </li>
      <li class="flex items-baseline mb-1">
        <div style="color: var(--light-blue);" class=" w-36">Book Store: </div>
        <div><%= @user.book_store&.name %></div>
      </li>
    </ul>
  </div>
</div>

<div class="max-w-screen-2xl mx-auto px-4 pt-0.5">
  <%= render partial: "shared/styled_table", locals: { data: @table_data } %>
</div>
