<%= render "shared/navbar" %>

<div style="background-color: #EFF1F3;" class="pb-10 mb-2">
  <div class="max-w-screen-2xl mx-auto px-4 pt-0.5">
    <h3 class="my-4 font-header text-xl text-black text-opacity-90 font-bold">Credentials</h3>
    <div style="height: 0.0625rem;" class="bg-gray-300 mb-4"></div>

    <ul class="text-md text-black text-opacity-75 font-medium">
      <li class="flex items-baseline mb-1">
        <div style="color: #446590;" class=" w-36">API Key: </div>
        <div class="text-black text-opacity-100">SithSzyPtCXDm-P7xiyy</div>
        <div style="color: #446590" class="ml-2 text-xs underline opacity-80 cursor-pointer">copy to clipboard</div>
      </li>
      <li class="flex items-baseline mb-1">
        <div style="color: #446590;" class=" w-36">Email: </div>
        <div>martingianna@gmail.com</div>
      </li>
      <li class="flex items-baseline mb-1">
        <div style="color: #446590;" class=" w-36">Book Store: </div>
        <div>Martin's Book Store</div>
      </li>
      <li class="flex items-baseline mb-1">
        <div style="color: #446590;" class=" w-36">Last Signed in at:</div>
        <div>February 2nd, 2021</div>
      </li>
    </ul>
  </div>
</div>

<div class="max-w-screen-2xl mx-auto px-4 pt-0.5">
  <div>
    <div class="my-4 flex space-x-6 items-center">
      <h3 class="font-header text-xl text-black text-opacity-90 font-bold">Books in Stock</h3>
      <input
        class="h-10 w-80 block px-4 border border-gray-300 border-solid"
        type="text"
        placeholder="Search among <%= pluralize(@book_stocks.count, "book") %>"
      >
    </div>
    <table class="w-full table-auto">
      <thead>
        <tr style="background-color: #EFF1F3;">
          <th><div class="flex items-center h-9 p-2 text-left">id</div></th>
          <th><div class="flex items-center h-9 p-2 text-left">book</div></th>
          <th><div class="flex items-center h-9 p-2 text-left">stock level</div></th>
          <th><div class="flex items-center h-9 p-2 text-left">in stock</div></th>
          <th><div class="flex items-center h-9 p-2 text-left">created at</div></th>
          <th><div class="flex items-center h-9 p-2 text-left">updated at</div></th>
        </tr>
      </thead>
      <tbody>
        <% @book_stocks.each do |book_stock| %>
          <tr>
            <td><div class="flex items-center h-9 p-2 text-left"><%= book_stock.id %></div></td>
            <td><div class="flex items-center h-9 p-2 text-left"><%= book_stock.book.title %></div></td>
            <td><div class="flex items-center h-9 p-2 text-left"><%= book_stock.stock_level %></div></td>
            <td><div class="flex items-center h-9 p-2 text-left"><%= book_stock.in_stock %></div></td>
            <td><div class="flex items-center h-9 p-2 text-left"><%= book_stock.created_at.strftime("%e/%m/%Y %l:%M:%S %p") %></div></td>
            <td><div class="flex items-center h-9 p-2 text-left"><%= book_stock.updated_at.strftime("%e/%m/%Y %l:%M:%S %p") %></div></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
