<!DOCTYPE html>
<html>
  <head>
    <title>Book Shelf</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag "application", media: "all" %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700;900&family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
  </head>

  <body>
    <p style="background-color: lightgreen;"><%= flash[:notice] %></p>
    <p style="background-color: wheat;"><%= flash[:alert] %></p>
    <%= yield %>
  </body>
</html>
